.Map {
    position: relative;
    /* height: 100%; */
    aspect-ratio: 16 / 9;
    border-radius: 20px;
}

.map-image {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.heatmap-scale {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1;
}

.label {
    font-weight: 600;
}

.GradientBar {
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
}
.gradient-scale {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}