.Person {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Mugshot {
    aspect-ratio: 5 / 4;
    background-image: url('../assets/mugs/mugshot_background.png');
    background-size: contain;
    position: relative;
}

.header {
    font-weight: 600;
}

.person-info {
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}